<form role="form">
  <%= form_for(@article, remote: true) do |f| %>
    <div class="field form-group">
      <%= f.label :title %><br>
      <%= f.text_field :title, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= f.label :author %><br>
      <%= f.text_field :author, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= f.label :date %><br>
      <%= f.date_select :date, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= f.check_box :published %>
      <%= f.label :published %>
    </div>
    <div class="field form-group">
      <%= f.label :post %> 
      <%= f.text_area :post, :class => "form-control" %>
    </div>
    <div class="actions form-group">
      <%= f.submit 'Upload Article', :class => 'btn btn-success' %>
    </div>
  <% end %>
</form>
