<h1 class="text-center">Listing articles</h1>

<table class="table table-bordered table-hover table-condensed" id="articles_table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th class="text-center">Date</th>
      <th class="text-center">Published</th>
      <th>Post</th>
      <th class="text-center" colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.author %></td>
        <td class="text-center"><%= article.date %></td>
        <td class="text-center"><%= article.published %></td>
        <td><%= article.post %></td>
        <td class="text-center"><%= link_to 'Show', article, :class => "button btn btn-primary", remote: true %></td>
        <td class="text-center"><%= link_to 'Edit', edit_article_path(article), :class => "button btn btn-warning", remote: true %></td>
        <td class="text-center"><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Article' , new_article_path, :class => "button btn btn-lg btn-success", remote: true %>